{%- comment -%} All of these settings cane be managed on a per page basis or by editing metadata.yml in _data. {%- endcomment -%}

{%- assign og = page.seo.og -%}
{%- assign tw = page.seo.twitter -%}
{%- assign mt = page.seo.meta -%}
{%- assign ix = page.seo.index -%}
{%- assign metadata = site.data.metadata -%}

<title>{{-page.title-}}{{-metadata.separator-}}{{-metadata.title-}}{{-metadata.tagline-}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#000">

{%- comment -%} Indexing {%- endcomment -%}
<meta name="revisit-after" content="{%- if ix.revisit -%}{{ix.revisit}}{%- else -%}{{metadata.revisit}}{%- endif -%}">
<meta name="robots" content="{%- if ix.robots -%}{{ix.robots}}{%- else -%}{{metadata.robots}}{%- endif -%} ">

{%- comment -%} Meta SEO {%- endcomment -%}
<meta name="title" content="{%- if mt.title -%}{{mt.title}} | {{metadata.title}}{% else %}{{page.title}}{{-metadata.separator-}}{{metadata.title}}{%- endif -%}">    
<meta name="description" content="{%- if mt.description -%}{{mt.description}}{% else %}{{metadata.description}}{% endif %}">
<meta name="keywords" content="{%- if mt.keywords -%}{{mt.keywords}}{% elsif page.tags %}{{page.tags | sort | join: ", "}}{% else %}{{metadata.keywords}}{% endif %}">
<meta name="author" content="{%- if mt.author -%}{{mt.author}}{%- elsif page.author -%}{{page.author}}{%- else -%}{{metadata.author}}{%- endif -%}">
<meta name="language" content="{%- if mt.language -%}{{mt.language}}{%- elsif page.language -%}{{page.language}}{%- else -%}{{- site.language -}}{%- endif -%}">

{%- comment -%} OG SEO {%- endcomment -%}
<meta property="og:title" content="{%- if og.title -%}{{- og.title -}} | {{metadata.title}}{% else %}{{page.title}} {{- metadata.separator -}} {{metadata.title}}{%- endif -%}">
<meta property="og:description" content="{% if og.description %}{{og.description}}{% else %}{{metadata.description}}{% endif %}">
<meta property="og:type" content="{%- if og.type == nil -%}{%- if site.post -%}article{%- else -%}website{%- endif -%}{%- else -%}{{og.type}}{% endif %}">
<meta property="og:url" content="{%- if page.url != / -%}{{site.url}}{{page.url}}" {% elsif page.url == / %}{{site.url}}{%- endif -%}> 
<meta property="og:image" content="{% if og.image %}{{og.image}}{% elsif page.featured %}{{page.featured}}{% else %}{{metadata.img_path}}{% endif %}">
<meta property="og:site_name" content="{%- if og.site_name -%}{{og.site_name}} {% else %}{{metadata.title}}{%- endif -%}">
<meta property="og:locale" content="{%- if og.locale -%}{{og.locale}}{% else %}{{site.og_locale | default: "en_US"}}{%- endif -%}">

{%- comment -%} Twitter Cards {%- endcomment -%}

{%- if metadata.twitter_card == true -%}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{%- if tw.title -%}{{- tw.title -}} | {{metadata.title}}{% else %}{{page.title}} {{- metadata.separator -}} {{metadata.title}}{%- endif -%}">
<meta name="twitter:description" content="{%- if tw.description -%}{{tw.description}}{% else %}{{metadata.description}}{% endif %}">
<meta name="twitter:site" content="{{site.url}}">
<meta name="twitter:image" content="{%- if tw.image -%}{{tw.image}}{%- else -%}{{metadata.img_path}}{%- endif -%}">
<meta name="twitter:creator" content="{{site.twitter_username}}">
{%- endif -%}