---
layout: wrapper
---
<main class="container" id="top">
    <div id="post-meta-container">    
        <header class="row">
            <section class="col-lg-10 col-sm-12 col-xs-12">
                <h1 class="h3 fw-bold">{{page.title}}</h1>
                <p class="h6 fw-light">{{page.author}}</p> 
                {%- include /components/back-button.liquid buttonName="Back to Blog" class="post-back-button" symbol="&#8592;" path="/blog/" -%}
            </section>
            <section class="col-lg-2 col-sm-12 col-xs-12">
                <h2 class="h6"><span class="fw-bold">Posted 🕒</span> 
                <time datetime="{{page.date | date: " %F"}}"> {{page.date | date: "%m/%d/%Y"}}</time> 
                <time datetime="{{page.date | date: " %T"}}"> {{page.date | date: "%T"}} </time> 
            </h2>
        </section>
        </header>
        <section class="my-3">  
            {%- include /components/toc.liquid -%}
        </section>
    </div>
    <article itemscope itemtype="https://schema.org/CreativeWork"  markdown="1">
    <section class="my-2">
        {{- content -}}
    </section>
    {%- comment -%} Categories {%- endcomment -%}
    <div class="row">   
        <section class="col-md-6 fst-italic">
            {% if page.categories %}
            {% if page.categories.size < 2  %}
            <h2 class="text-center h6">Category</h2>
            {% elsif page.categories.size >= 2 %}
            <h2 class="text-center h6">Categories</h2>
            {% endif %}
            <hr class="post-hr">

            {% for category in page.categories %}  
            <p class="flex text-center post-categories p-1" id="cat-{{category | replace: ' ', '-' | downcase}}"><a href="/blog/categories/#cat-{{category | replace: ' ', '-' | downcase}}" class="text-decoration-none">{{category | capitalize }}</a></p>
            {% endfor %}
            {% if page.categories.size < 1  %}
            <p class="text-center h6 text-muted pb-2">This post has no categories :(</p>
            {% endif %}
            {% endif %}
        </section>
    {%- comment -%} Tags {%- endcomment -%}
        <section class="col-md-6 fst-italic">
            {% if page.tags %}
            <h2 class="text-center h6">Tag{% if page.tags.size > 1 %}s{% endif %}</h2>
            <hr class="post-hr">

            {%- for tag in page.tags -%}
            <p class="flex post-tag text-center p-1" id="tag-{{tag | replace: ' ', '-' | downcase}}"><a href="/blog/tags/#tag-{{tag | downcase | replace: ' ', '-' }}" class="text-decoration-none">{{tag | capitalize }}</a></p>
            {% endfor %}
            {% if page.tags.size < 1  %}
            <p class="text-center h6 text-muted pb-2">This post has no tags :(</p>
            {% endif %}
            {% endif %}
        </section>
    {%- comment -%} Prev/Next {%- endcomment -%}
        <nav class="col-md-12">
            <div class="flex-row d-flex align-items-center">
                <div class="col-6 text-center">
                    {% if page.next.url %}
                    <a class="post-next" href="{{page.next.url}}">&laquo; Previous Post</a>
                    {% endif %}
                </div> 
                <div class="col-6 text-center">
                    {% if page.previous.url %}
                    <a class="post-prev" href="{{page.previous.url}}">Next Post &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</article>
</main>